# 한국은행 데이터
- https://ecos.bok.or.kr/
- https://github.com/WooilJeong/PublicDataReader/blob/main/assets/docs/ecos/ecos.md

In [2]:
from dotenv import load_dotenv
import os
from pathlib import Path

# .env 파일에 예: KOREA_BANK_KEY=your_key

env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

KOREA_BANK_KEY = os.getenv("KOREA_BANK_KEY")
if KOREA_BANK_KEY is None:
    raise RuntimeError("KOREA_BANK_KEY가 .env에 없습니다.")
# KOREA_BANK_KEY

In [4]:
from PublicDataReader import Ecos
service_key = KOREA_BANK_KEY
api = Ecos(service_key)
df = api.get_statistic_table_list()
df.head()

      상위통계표코드       통계표코드                               통계명    시점 검색가능여부    출처
0           *  0000000001                          1. 통화/금융  None      N  None
1  0000000001  0000000002                       1.1. 통화/유동성  None      N  None
2  0000000002  0000000003                       1.1.1. 본원통화  None      N  None
3  0000000003  0000000004                1.1.1.1. 본원통화 구성내역  None      N  None
4  0000000004     102Y004  1.1.1.1.1. 본원통화 구성내역(평잔, 계절조정계열)     M      Y  None

In [5]:
from PublicDataReader import Ecos
api = Ecos(service_key)
df = api.get_statistic_word(용어="소비자동향지수")
df.head()

        용어                                               용어설명
0  소비자동향지수  소비자들이 느끼는 경기, 소비지출계획, 생활형편 등 경제에 대한 전반적인 인식을 조...

In [6]:
from PublicDataReader import Ecos
api = Ecos(service_key)
df = api.get_statistic_item_list(통계표코드="601Y002")
df.head()

,통계표코드,통계명,항목그룹코드,항목그룹명,통계항목코드,통계항목명,상위통계항목코드,상위통계항목명,시점,수록시작일자,수록종료일자,자료수,단위,가중치
0,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,A,서울,None,None,M,200912,202308,13530,None,None
1,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,B,부산,None,None,M,200912,202308,13530,None,None
2,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,C,대구,None,None,M,200912,202308,13530,None,None
3,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,D,인천,None,None,M,200912,202308,13530,None,None
4,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,E,광주,None,None,M,200912,202308,13530,None,None

## 시장금리 데이터

In [7]:
from PublicDataReader import Ecos

api = Ecos(service_key)
df = api.get_key_statistic_list()
df.head()

  통계그룹명            통계명      값        시점 단위
0  시장금리      한국은행 기준금리    2.5  20251115  %
1  시장금리       콜금리(익일물)  2.511  20251117  %
2  시장금리   KORIBOR(3개월)   2.72  20251117  %
3  시장금리     CD수익률(91일)   2.74  20251117  %
4  시장금리  통안증권수익률(364일)  2.545  20251117  %