# 서울시 열린데이터 광장
- https://data.seoul.go.kr/

In [55]:
from dotenv import load_dotenv
import os
from pathlib import Path

# .env 파일에 예: SEOUL_OPEN_KEY=your_key

env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

SEOUL_OPEN_KEY = os.getenv("SEOUL_OPEN_KEY")
if SEOUL_OPEN_KEY is None:
    raise RuntimeError("SEOUL_OPEN_KEY가 .env에 없습니다.")
# SEOUL_OPEN_KEY

# json 타입으로 데이터 불러오기

In [67]:
import pandas as pd
import requests
serviceKey = SEOUL_OPEN_KEY
service_id = "CardSubwayStatsNew"
data_type = "json"
date = "202510"


url = f'http://openapi.seoul.go.kr:8088/{serviceKey}/{data_type}/{service_id}/1/10/{date}'

response = requests.get(url)
data = response.json()
data

{'RESULT': {'CODE': 'INFO-200', 'MESSAGE': '해당하는 데이터가 없습니다.'}}

In [68]:
import pandas as pd
import requests
serviceKey = SEOUL_OPEN_KEY
service_id = "GlobalJobCounselRst"
data_type = "json"
date = "202509"


url = f'http://openapi.seoul.go.kr:8088/{serviceKey}/{data_type}/{service_id}/1/10/{date}'


response = requests.get(url)
data = response.json()
data
# # 5. json 파싱 → 데이터프레임 변환
rows = data["GlobalJobCounselRst"]["row"]

df = pd.DataFrame(rows)

# 6. 확인
print(df.shape)
df.head()

(10, 10)

,YYYYMM,CATEGORY_NM,TYPE1,TYPE2,TYPE3,TYPE4,TYPE5,TYPE6,TYPE7,TYPE_SUM
0,202510,교육,7.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
1,202510,교통,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,202510,금융,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,202510,기타,21.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0
4,202510,노무,24.0,18.0,1.0,0.0,0.0,0.0,0.0,0.0

# xml만 지원할 경우
- xml -> json -> dataframe으로 변환
- pip install xmltodict

In [ ]:
import pandas as pd
import requests
import xmltodict

# 1. url 파라미터 정의
serviceKey = SEOUL_OPEN_KEY
service_id = "bikeList"
data_type = "xml"
date = "20251001"
count = 10

url = f'http://openapi.seoul.go.kr:8088/{serviceKey}/{data_type}/{service_id}/1/{count}'


# 2. 요청하기
response = requests.get(url).text

# 3. XML → dict
data = xmltodict.parse(response)
data

# 4. 데이터 추출
rows = data["rentBikeStatus"]["rentBikeStatus"]["row"]
rows

# 5. 데이터프레임으로 변환 및 확인
df = pd.DataFrame(rows)
print(df.shape)
df.head()

(10, 7)

,shared,stationLatitude,stationLongitude,stationName,parkingBikeTotCnt,rackTotCnt,stationId
0,73,37.55564880,126.91062927,102. 망원역 1번출구 앞,11,15,ST-4
1,157,37.55495071,126.91083527,103. 망원역 2번출구 앞,22,14,ST-5
2,200,37.55073929,126.91508484,104. 합정역 1번출구 앞,26,13,ST-6
3,380,37.55000687,126.91482544,105. 합정역 5번출구 앞,19,5,ST-7
4,83,37.54864502,126.91282654,106. 합정역 7번출구 앞,10,12,ST-8

In [99]:
import requests
import xmltodict

serviceKey = SEOUL_OPEN_KEY
# type = "xml"
type = "json"
count = 100


# 서울동물복지지원센터 반려동물 입양 정보
# http://openapi.seoul.go.kr:8088/(인증키)/xml/vPetInfo/1/5/
url = f"http://openapi.seoul.go.kr:8088/{serviceKey}/{type}/vPetInfo/1/{count}/"

# XML 데이터 요청
response = requests.get(url)
data = response.json()

data = data['vPetInfo']['row']
df = pd.DataFrame(data)
print(df.shape) 
df.head()

(30, 12)

,SEQ,ANIMAL_NM,ADMISSION_DT,ANIMAL_TYPE,ANIMAL_BREED,ANIMAL_SEX,ANIMAL_BRITH_YMD,WEIGHT_KG,ADOPT_STATUS,FOSTER_STATUS,MOVIE_URL,CONT
0,62.0,경자,2024-01-11,DOG,믹스,W,2021-01-11,5.43,입양문의가능,임시보호가능,https://www.youtube.com/embed/47Esy9gr9DM,"<p><strong>"" </strong><strong>이름처럼 순박하고 맑은 아이,..."
1,47.0,순금,2023-07-20,DOG,믹스,M,2020-06-28,4.2,입양문의가능,임시보호가능,https://www.youtube.com/embed/Nv6-0H66HCU,"<p><strong>"" </strong><strong>똥꼬발랄! 명랑 쾌활한 흰구름..."
2,56.0,버터,2022-06-10,DOG,푸들,W,2010-06-10,3.07,미표출,임시보호중,https://www.youtube.com/embed/DaBFSsg-ZZY,"<p><strong>""</strong><strong>밥 때만은 놓치지 않을꺼예요! ..."
3,123.0,찰리,2024-10-28,DOG,믹스,M,2023-01-21,8.25,입양문의가능,임시보호가능,https://www.youtube.com/embed/fL3N3lHBnBM,"<p><strong>""</strong><strong>근엄 진지하게 생겼지만 나는야 ..."
4,155.0,매튜,2025-01-15,DOG,믹스,M,2024-09-15,17.5,입양문의가능,임시보호중,https://www.youtube.com/embed/BxWvE1_xYuY,<p>[입소 배경]<br />길거리에서 유기된 채 발견된 매튜는 동물구조관리협회의 ...